In [2]:
import pandas as pd
import numpy as np

In [51]:
sfp = pd.read_csv('./data/author_lists/sandersforpresident_authlist_full.csv')
sfp.head()

            author
0           meowdy
1  BogeyBogeyBogey
2    aksurvivorfan
3          ACPhila
4       redditiem2

In [52]:
td = pd.read_csv('./data/author_lists/the_donald_authlist_full.csv')
td.head()

            author
0        SketchyJJ
1          xXDaNXx
2        snakefinn
3          DonVote
4  FlamboyantSquid

In [14]:
sfp_full_sample = np.random.choice(sfp['author'],4000,replace=False)
td_full_sample = np.random.choice(td['author'],4000,replace=False)

In [27]:
#Cut the randomly selected data in half into 2 groups
sfp_sample1 = pd.DataFrame(sfp_full_sample[:2000], columns = ['author'])
sfp_sample2 = pd.DataFrame(sfp_full_sample[2000:], columns = ['author'])

td_sample1 = pd.DataFrame(td_full_sample[:2000], columns = ['author']) 
td_sample2 = pd.DataFrame(td_full_sample[2000:], columns = ['author'])

In [47]:
#Check at that there are 4000 unique names in both sets that don't criss cross
print(len(set(list(sfp_sample1['author']) + list(sfp_sample2['author']))))
print(len(set(list(sfp_sample1['author']) + list(td_sample1['author']))))
print(len(set(list(sfp_sample1['author']) + list(td_sample2['author']))))
print(len(set(list(sfp_sample2['author']) + list(td_sample1['author']))))
print(len(set(list(sfp_sample2['author']) + list(td_sample2['author']))))
print(len(set(list(td_sample1['author']) + list(td_sample2['author']))))

4000
4000
4000
4000
4000
4000

In [49]:
#Push to csv
sfp_sample1.to_csv('./data/author_lists/sfp_sample_userhists.csv', index=False)
td_sample1.to_csv('./data/author_lists/td_sample_userhists.csv', index=False)

sfp_sample2.to_csv('./data/author_lists/sfp_sample_langmodel.csv', index=False)
td_sample2.to_csv('./data/author_lists/td_sample_langmodel.csv', index=False)

## Check for Bots

In [79]:
#Load botlist
bots_list = pd.read_csv('./data/botlist/bigquery_botlist.csv', header=None)
bots_list = list(bots_df.append(pd.read_csv('./botlist/chenhao_botlist.txt', header=None))[0])
bots_list = sorted(list(set([i.lower() for i in bots_list]))) #lowercase, unique, sort

In [80]:
#Check what candidate authors from sfp are bots in our botlist 
a = list(sfp['author'])
b = [i for i in a if i.lower() not in bots_list]
print(len(a) - len(b))
print([i for i in a if i.lower() in bots_list])

0
[]

In [81]:
#Check what candidate authors from sfp are bots in our botlist 
a = list(td['author'])
b = [i for i in a if i.lower() not in bots_list]
print(len(a) - len(b)) 
print([i for i in a if i.lower() in bots_list])

3
['CompileBot', 'haiku_robot', 'topredditbot']

In [82]:
#Check the produced files just in case
td_sample1 = pd.read_csv('./data/author_lists/td_sample_userhists.csv')
td_sample2 = pd.read_csv('./data/author_lists/td_sample_langmodel.csv')
sfp_sample1 = pd.read_csv('./data/author_lists/sfp_sample_userhists.csv')
sfp_sample2 = pd.read_csv('./data/author_lists/sfp_sample_langmodel.csv')

print([i for i in list(td_sample1['author']) if i.lower() in bots_list])
print([i for i in list(td_sample2['author']) if i.lower() in bots_list])
print([i for i in list(sfp_sample1['author']) if i.lower() in bots_list])
print([i for i in list(sfp_sample2['author']) if i.lower() in bots_list])

['topredditbot']
[]
[]
[]

In [103]:
#Draw 1 more person to replace the bot
td_list = list(td['author'])

td_list = [i for i in td_list if i not in list(td_sample1['author'])]
td_list = [i for i in td_list if i not in list(td_sample2['author'])]
td_list = [i for i in td_list if i.lower() not in bots_list]

np.random.choice(td_list,1,replace=False)

array(['rolandontheriver'],
      dtype='<U20')

In [99]:
len(td_list)

16890

In [93]:
len(td_lsit)

                    author
0               cinn-e-mon
1            Butter_nutted
2               AdmirilRed
3               podolski39
4        captainfluffballs
5              DoktorAkcel
6                mrdarrenh
7          koreanbabyeater
8             MrBaconBagel
9                   skarby
10         DownVoteSoldier
11             SmithFire13
12         Chest-Rockwell-
13                Nesurame
14            King0fWhales
15               theonlyD1
16            asalvatore74
17                 NEM3S1S
18              iron_balls
19               PigAnimal
20                Servo112
21    somedudeinlosangeles
22               deck_hand
23           coolfire1080P
24    NuffNuffHoldTheFluff
25            Activehannes
26                rman2222
27             ellisbrewer
28                 GeeRawr
29             ShaneDAWS0N
...                    ...
1970                Icerex
1971                Myalko
1972           smokejaguar
1973               Pdecker
1974          pancakeman96
1975             cookedpig
1976     hubertCumberdanes
1977                rmecav
1978            Rinkydinky
1979       Canigetahellyea
1980         AncientStiffy
1981              time4mzl
1982                Jedhug
1983      _AmericanPoutine
1984    donthatemecuzisuck
1985        Redditology101
1986          TheMightySGK
1987              Rock_Ape
1988     whiskey4breakfast
1989            Who_am___i
1990            slicksnail
1991              Charli3q
1992          Plumbsmasher
1993               LaffAtU
1994          quantummajic
1995             psyvenrix
1996                Era555
1997               jercote
1998                Lezrec
1999              Zedlol18

[2000 rows x 1 columns]